# Pandas

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import numpy as np
import pandas as pd

In [2]:
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv')
reviews.rename(columns={'Unnamed: 0': 'indexes'}, inplace=True)
recipes['submitted']= pd.to_datetime(recipes['submitted'])

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [3]:
print('Количество строк в recipes:', len(recipes.index))
print('Количество строк в rewiews:', len(reviews.index))
print('Количество столбцов в recipes:', len(recipes.axes[1]))
print('Количество столбцов в rewiews:', len(reviews.axes[1]), '\n')
print('Типы данных в recipes:\n', recipes.dtypes, '\n')
print('Типы данных в reviews:\n', reviews.dtypes)

Количество строк в recipes: 30000
Количество строк в rewiews: 126696
Количество столбцов в recipes: 8
Количество столбцов в rewiews: 6

Типы данных в recipes:
 name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

Типы данных в reviews:
 indexes       int64
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [4]:
print('Пропуски по столбцам в recipes\n', recipes.isnull().sum(), '\n')
print('Пропуски по столбцам rewiews \n', reviews.isnull().sum(), '\n')
a = len(recipes.index)-np.count_nonzero(recipes.isnull().sum(axis=1)) # Строки с пропусками recipes
b = len(reviews.index)-np.count_nonzero(reviews.isnull().sum(axis=1)) # Строки с пропусками reviews
print('Доля строк, содержащих пропуски в recipes:', a / len(recipes.index))
print('Доля строк, содержащих пропуски в reviews:', b / len(reviews.index))

Пропуски по столбцам в recipes
 name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

Пропуски по столбцам rewiews
 indexes       0
user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64

Доля строк, содержащих пропуски в recipes: 0.4315333333333333
Доля строк, содержащих пропуски в reviews: 0.9998658205468207

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [5]:
print('Средние значения по recipes:')
print(recipes['minutes'].mean())
print(recipes['n_steps'].mean())
print(recipes['n_ingredients'].mean())
print('Средние значения по reviews:')
print(reviews['rating'].mean())

Средние значения по recipes:
123.35813333333333
9.805582137161085
9.008285984848484
Средние значения по reviews:
4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [6]:
v = pd.Series(recipes['name'].sample(n = 10))
display(v)

5611     chicken and portabella wraps with yogurt sauce
6045                             chicken wings oriental
5219                       cheesy beef   bean casserole
14792                            jack daniel s marinade
25903                                 sticky pork chops
14690                            italian pinwheel rolls
21015                                  poached cherries
24669               smucker s caramel topping pecan pie
27792                                   tomato frittata
9457                                       dill carrots
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [7]:
pd.options.mode.chained_assignment = None
reviews['indexes'] = reviews.index
display(reviews)

,indexes,user_id,recipe_id,date,rating,review
0,0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [8]:
display(recipes[((recipes['minutes'] == 20) | (recipes['minutes'] < 20)) & ((recipes['n_ingredients'] < 5) \
                                                                          | (recipes['n_ingredients'] == 5))])

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [9]:
#done

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [23]:
display(recipes[recipes['submitted'] < '2011-01-01'])

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144,13
...,...,...,...,...,...,...,...,...,...,...
18072,Monza,424478,5,171790,2010-05-10,2.0,a finnish cocktail from lcbo's website.\r\nif ...,4.0,135,1
15131,Kaasteefjes,44575,10,56353,2002-10-29,5.0,dutch cheese sandwiches,8.0,23,1
4080,Bugwiches,148,40,1579,1999-08-11,NaN,a little bit of fun for the kids this summer. ...,NaN,392,1
15136,Kabuki,214824,5,431813,2007-03-03,4.0,blended sake cocktail. great for lime lovers!,NaN,46,1
10940,Fieri 4,380548,14,1155661,2009-07-07,NaN,this is one of guy fieri's family favorites. b...,NaN,183,1

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [11]:
recipes['description_length'] = recipes['description'].fillna('').str.len()
recipes.to_csv('3_1.csv')
display(recipes)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [12]:
recipes['name'] = recipes['name'].str.title()
recipes.to_csv('3_2.csv')
display(recipes)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [13]:
noWS = recipes['name'].str.replace(' ', '')
recipes['name_word_count'] = noWS.str.findall(r'[A-Z]').str.len()
recipes.to_csv('3_3.csv')
display(recipes)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [14]:
idGroup = recipes.groupby(recipes['contributor_id'].tolist(), as_index= False).size()
idGroup.rename(columns = {'index':'contributor_id'}, inplace = True)
display('Количество рецептов, представленных каждым из участников:', idGroup)
print('Лидер по количеству рецептов - это', idGroup['contributor_id'][idGroup['size'].idxmax()])

'Количество рецептов, представленных каждым из участников:'

      contributor_id  size
0               1530     5
1               1533   186
2               1534    50
3               1535    40
4               1538     8
...              ...   ...
8399      2001968497     2
8400      2002059754     1
8401      2002234079     1
8402      2002234259     1
8403      2002247884     1

[8404 rows x 2 columns]

Лидер по количеству рецептов - это 89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [15]:
result = reviews.groupby('recipe_id').agg({'rating': ['mean']})
display(result)
print('Рецептов без отзывов:', (len(recipes)-len(result)))

             rating
               mean
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]

Рецептов без отзывов: 1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [27]:
years = recipes.groupby(pd.Grouper(key='submitted', freq='Y')).size()
display(years)

submitted
1999-12-31     275
2000-12-31     104
2001-12-31     589
2002-12-31    2644
2003-12-31    2334
2004-12-31    2153
2005-12-31    3130
2006-12-31    3473
2007-12-31    4429
2008-12-31    4029
2009-12-31    2963
2010-12-31    1538
2011-12-31     922
2012-12-31     659
2013-12-31     490
2014-12-31     139
2015-12-31      42
2016-12-31      24
2017-12-31      39
2018-12-31      24
Freq: A-DEC, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [17]:
dd = pd.merge(recipes, reviews, on = None, left_on = 'id', right_on = 'recipe_id', how ='inner')
dd = dd.drop(['minutes','contributor_id', 'submitted', 'n_steps', 'description', 'n_ingredients', 'description_length',
              'name_word_count', 'indexes', 'date', 'review', 'recipe_id'], axis=1)
dd = dd[['id', 'name', 'user_id', 'rating']]
display(dd[dd['id'] == 2691])
display(dd)

# Ниже код для отображения рецептов без отзывов (для удобства поиска)
'''a = recipes.set_index('id')
b = reviews.set_index('recipe_id')
c = a.join(b, how = 'outer').loc[a.index ^ b.index].reset_index()
'''

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

"a = recipes.set_index('id')\nb = reviews.set_index('recipe_id')\nc = a.join(b, how = 'outer').loc[a.index ^ b.index].reset_index()\n"

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [18]:
revGroup = reviews.groupby(reviews['recipe_id'].tolist(), as_index= False).size()
revGroup.rename(columns = {'index':'recipe_id', 'size':'review_count'}, inplace = True)
rev = pd.merge(recipes, revGroup, on = None, left_on = 'id', right_on = 'recipe_id', how ='outer')
rev = rev.drop(['recipe_id', 'minutes','contributor_id', 'submitted', 'n_steps', 'description', 'n_ingredients', 'description_length',
              'name_word_count'], axis=1)
rev.rename(columns = {'id':'recipe_id'}, inplace = True)
rev = rev[['recipe_id', 'name', 'review_count']]
rev['review_count'].fillna(value = 0, inplace = True)
display(rev[rev['recipe_id'] == 2691])
display(rev)

       recipe_id                       name  review_count
15586       2691  Lamb Chops With Mandarins           0.0

       recipe_id                                          name  review_count
0          44123         George S At The Cove  Black Bean Soup           3.0
1          67664            Healthy For Them  Yogurt Popsicles           8.0
2          38798                  I Can T Believe It S Spinach           3.0
3          35173                          Italian  Gut Busters           1.0
4          84797      Love Is In The Air  Beef Fondue   Sauces           8.0
...          ...                                           ...           ...
29995     267661  Zurie S Holey Rustic Olive And Cheddar Bread           4.0
29996     386977          Zwetschgenkuchen  Bavarian Plum Cake           2.0
29997     103312   Zwiebelkuchen   Southwest German Onion Cake           6.0
29998     486161                                   Zydeco Soup           6.0
29999     298512        Cookies By Design   Cookies On A Stick           1.0

[30000 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [19]:
reviews['date']= pd.to_datetime(reviews['date'])
r = reviews.groupby(pd.Grouper(key='date', freq='Y')).mean()
yr = r['rating'].idxmin()
minRateYear = yr.year
print(minRateYear)

2017

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [20]:
# Сохранение в csv см. в 3.1-3.3
csv3_1 = pd.read_csv('3_1.csv')
csv3_2 = pd.read_csv('3_2.csv')
csv3_3 = pd.read_csv('3_3.csv')

recipes = recipes.sort_values(by='name_word_count', ascending = False)
display(recipes)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144,13
...,...,...,...,...,...,...,...,...,...,...
18072,Monza,424478,5,171790,2010-05-10,2.0,a finnish cocktail from lcbo's website.\r\nif ...,4.0,135,1
15131,Kaasteefjes,44575,10,56353,2002-10-29,5.0,dutch cheese sandwiches,8.0,23,1
4080,Bugwiches,148,40,1579,1999-08-11,NaN,a little bit of fun for the kids this summer. ...,NaN,392,1
15136,Kabuki,214824,5,431813,2007-03-03,4.0,blended sake cocktail. great for lime lovers!,NaN,46,1
10940,Fieri 4,380548,14,1155661,2009-07-07,NaN,this is one of guy fieri's family favorites. b...,NaN,183,1

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [21]:
with pd.ExcelWriter("Рецепты и отзывы.xlsx") as writer:
    dd.to_excel(writer, sheet_name="Рецепты с оценками", index=False)
    rev.to_excel(writer, sheet_name="Количество отзывов по рецептам", index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3